<div class="container">
  <h3>Thêm mới người nộp</h3>
  <form [formGroup]="nguoinopForm">
    <div class="row">
      <div class="col-4">Họ và tên</div>
      <div class="col-8">
        <input type="text" class="form-control" formControlName="ten">
      </div>
    </div>
  <div class="row">
    <div class="col-4">Địa chỉ</div>
    <div class="col-8">
      <input type="text" class="form-control" formControlName="diaChi">
    </div>
  </div>
  <div class="row">
    <div class="col-4">Số tiền</div>
    <div class="col-8">
      <input type="number" class="form-control" formControlName="soTien">
    </div>
  </div>
  </form>
</div>


{{nguoinopForm.value | json}}
