<div>
  <p style="font-size: 20px; margin-left: 20px">Xóa công đức?</p>
</div>
<div style="margin:20px 20px">
  <p style="font-size: 16px">
    Deleting will permanently remove it from your system
  </p>
</div>
<div class="row" style="margin: 0">

  <div class="col-md-4">

  </div>
  <div class="col-md-4" style="margin-bottom: 10px">
    <button style="width: 100%" class="btn btn-outline-dark" (click)="closeDialogDelete()">
      No, Keep
    </button>
  </div>
  <div class="col-md-4">
    <button style="width: 100%" class="btn btn-danger" (click)="delete(nguoinop)">
      Yes, Delete
    </button>
  </div>
</div>
