<div class="container">
  <h2 style="text-align: center">GHI NHẬN CÔNG ĐỨC</h2>
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
      <form [formGroup] ="nguoinopForm">
        <div class="row">
          <div class="col-3">
            <label>Họ và tên</label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control" formControlName = "ten">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-3">
            <label>Địa chỉ</label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control" formControlName = "diaChi">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-3">
            <label>Số tiền</label>
          </div>
          <div class="col-9">
            <input type="text" separator class="form-control" formControlName = "soTien" (keyup.enter)="save()">
          </div>
        </div>
      </form>
      <br>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2">
          <button style="width: 100%" class="btn btn-success" (click)="save()" [disabled]="!nguoinopForm.valid">Lưu</button>
        </div>
        <div class="col-2">
          <button style="width: 100%" class="btn btn-outline-success" (click)="reset()">Hủy</button>
        </div>
      </div>
<!--      {{nguoinopForm.value | json}}-->
    </div>
    <div class="col-3">
      <h3 style="text-align: center">Số lượng</h3>
      <h1 style="text-align: center">{{soLuong}}</h1>
      <h3 style="text-align: center">Tổng tiền</h3>
      <h5 style="text-align: center">{{tongTien | number}}</h5>
    </div>
  </div>
  <br>
  <table style="font-size: 12px" class="table table-bordered">
    <thead>
    <th style="text-align: center">STT</th>
    <th>Họ và tên</th>
    <th style="text-align: center">Địa chỉ</th>
    <th style="text-align: center">Số tiền</th>
    <th style="text-align: center">Ngày</th>
    <th style="text-align: center">Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let nguoinop of nguoinopList">
      <td style="text-align: center">{{nguoinop.id}}</td>
      <td>{{nguoinop.ten | uppercase}}</td>
      <td style="text-align: center">{{nguoinop.diaChi | uppercase}}</td>
      <td style="text-align: right">{{nguoinop.soTien | number}}</td>
      <td style="text-align: center">{{nguoinop.ngay | date:'dd-MM-yyyy'}}</td>
      <td style="text-align: center">
          <button style="margin: 0 10px" class="btn-light" (click)="generatePDF(nguoinop)">In</button>
        <a [routerLink] = "['/edit/' + nguoinop.id]">
          <button style="margin: 0 10px" class="btn-light">Sửa</button>
        </a>
        <button style="margin: 0 10px" class="btn-light" (click)="openDialogDelete(nguoinop)">Xóa</button>

      </td>
    </tr>
    </tbody>
  </table>
</div>
